window {
	font-family: "Iosevka Nerd Font";
	background: transparent;
}

#outer-box {
	padding: 10px;
	border-radius: 8px;
	background: #2e3440;
}

#scroll {
	/* The Nordic gtk theme adds an outline to show scroll areas... */
	outline-color: transparent;
}

#input {
	color: #e5e9f0;
	caret-color: #e5e9f0;
	background: #3b4252;
	border-top-color: #3b4252;
	border-left-color: #3b4252;
	border-right-color: #3b4252;
	border-bottom-color: #3b4252;
	box-shadow: 0 0 0 1px transparent inset;
	outline-color: transparent !important;
}

#input:focus {
	background: #3b4252;
	border-color: #3b4252 !important;
	box-shadow: 0 0 0 1px transparent inset;
	border-top-color: #3b4252 !important;
	border-left-color: #3b4252 !important;
	border-right-color: #3b4252 !important;
	border-bottom-color: #3b4252 !important;
	box-shadow: none !important;
	outline-color: transparent !important;
}

#input image.left {
	color: #d8dee9;
}

#input:focus image.left {
	color: #e5e9f0;
}

#input image.right {
	color: #d8dee9;
}

#input:focus image.right {
	color: #e5e9f0;
}

label {
	/* We set backgrounds on the block level. */
	background: transparent;
}

#scroll {
	padding-top: 6px;
}

#entry {
	color: #4c566a;
	padding: 8px 8px;
	border-radius: 4px;
	background: transparent;
}

#entry:selected {
	color: #eceff4;
	background: #8fbcbb;
	font-weight: bold;
}

expander arrow {
	margin-right: 8px;
}

#entry #selected #text {
	color: #eceff4;
}

expander list {
	margin-top: 8px;
	/* background: #8fbcbb; */
	background: transparent;
	padding-left: 16px;
}

expander list #entry {
	transition: none;
	background: transparent;
}

expander list #entry:hover,
expander list #entry:active {
	/* color: #8fbcbb;
	background: #e5e9f0; */
}

expander list #entry #selected {
	background: #8fbcbb;
}

expander list #entry #selected label {
	color: #eceff4;
	font-weight: bold;
}

expander list #entry:hover,
expander list #entry:active {
	background: #8fbcbb;
}

expander list #entry:hover label,
expander list #entry:active label {
	color: #eceff4;
	font-weight: bold;
}

expander list label {
	color: #d8dee9;
}
