@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "IosevkaTerm Nerd Font";
    font-size: 14px;
    min-height: 14px;
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: shade(@base, 0.9);
    border-bottom: 3px solid @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover {
    background-color: #a37800;
} */

#workspaces button {
    padding: 0 6px;
    padding-right: 10px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background-color: @peach;
    color: @crust;
}

#workspaces button.active {
    background: @overlay0;
    box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-monkeytype,
#tray,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#custom-power,
#custom-notification {
    padding: 2px 6px;
    padding-right: 12px;
    background-color: @surface1;
    color: @text;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging {
    color: @crust;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @surface1;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    /* padding-right: 12px; */
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @text;
}

#power-profiles-daemon.balanced {
    background-color: @surface1;
    color: @text;
}

#power-profiles-daemon.power-saver {
    background-color: @green;
    color: @crust;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}


#network.disconnected, #temperature.critical {
    background-color: @red;
}

#pulseaudio.muted {
    color: @red;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: @red;
}

#custom-media {
    min-width: 140px;
}


#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-monkeytype.reached {
    background-color: @green;
}

#custom-monkeytype.lagging {
    background-color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor.activated {
    background-color: @red;
    color: @text;
}

#language {
    /* padding: 0 5px;
    margin: 0 5px; */
    /* min-width: 16px; */
}